* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #050505;
    color: white;
    font-family: "Courier New", monospace;
    overflow-x: hidden;
}

#embers {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.bg {
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at center, rgba(255,80,0,0.15), transparent 60%);
    z-index: -1;
}

.card {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 700px;
    margin: 80px auto;
    padding: 40px;
    background: rgba(0,0,0,0.75);
    border: 1px solid rgba(255,100,0,0.4);
    border-radius: 20px;
    box-shadow:
        0 0 30px rgba(255,70,0,0.4);
}

h1 {
    text-align: center;
    color: #ff4500;
    text-shadow: 0 0 15px red;
}

.sub {
    text-align: center;
    color: #aaa;
}

li {
    padding: 8px;
    transition: .3s;
}

li:hover {
    color: orange;
    transform: translateX(10px);
}

.footer {
    margin-top: 30px;
    font-style: italic;
    color: #777;
}
